<main>
	<h1 class="main-title">ようこそ Bookers へ！</h1>

	<p class="main-topic"><span>Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>

	<p class="main-topic">印象を共有し交換することができます</p>

	<p class="btn"><%= link_to "Start", books_path%></p>
</main>