<p class="update">Book was successfully updated</p>

<p>Title</p>
<%= @book.title %>
<p>Body</p>
<%= @book.body %>

<p><%= link_to "Edit", "/books/#{@book.id}/edit" %> | 
<%= link_to "Back", "/books" %></p>